.droite {
    text-align: right;
}

section {
    text-align: justify;
}

.gauche {
    float: left;
}

.droite {
    float: right;
}

.botton {
    padding-bottom: 100px;
}

header {
    background-color: grey;
}


.centre {
    padding-top: 100px;
    text-align: center;
}


.centre_div {
    margin: 0 auto;
    width: 100px;
}

a {
    text-decoration: none;
}

/*       bouton 1         */



.portfolio-experiment a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    text-decoration: none;
}

.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}






.portfolio-experiment button {
    color: white;
    background-color: grey;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    text-decoration: none;
}

.portfolio-experiment button .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment button:after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}








.portfolio-experiment .line {
    position: absolute;
    background: #f26522;
}

.portfolio-experiment .line.-right,
.portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}

.portfolio-experiment .line.-top,
.portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}

.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}

.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}

.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}

.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}

.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}

.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}






.portfolio-experiment button:hover .text,
.portfolio-experiment button:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment button:hover:after,
.portfolio-experiment button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment button:hover .line,
.portfolio-experiment button:active .line {
    transform: scale3d(1, 1, 1);
}

.portfolio-experiment button:hover .line.-right,
.portfolio-experiment button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}

.portfolio-experiment button:hover .line.-top,
.portfolio-experiment button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}

.portfolio-experiment button:hover .line.-left,
.portfolio-experiment button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}

.portfolio-experiment button:hover .line.-bottom,
.portfolio-experiment button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}





/*            bouton 2      */

h2::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

h2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}

h2 {
    position: absolute;
}

.padding {
    padding-top: 20px;
}




/*            pop up      */


.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}


.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}


.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: #cc0000;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
