@charset "utf-8";
/* Template CSS */

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: #cc0000;
}